.search {
  width: 359px;
  height: 40px;
  position: relative;
  margin: 24px auto;
  display: flex;
  margin-right: 200px;
}

.search input {
  width: 359px;
  height: 40px;
  background: #2D3748;
  border: 1px solid #2D3748;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 0px 30px 0px 10px;
  font-size: 16px;
}

.search svg {
  position: absolute;
  right: 10px;
  top: 7px;
}

@media screen and (max-width: 1250px){
  .search {
    margin-right: 10vw;
  }
}